* {
  padding: 0%;
  margin: 0%;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.deleteIcon {
  padding-top: 5px;
}
p {
  padding: 5px;
  font-size: 1rem;

  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 10px;
}
h2 {
  padding: 5px;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: -20px;
  font-size: 1.2rem;
}
.note {
  border: 1px solid red;
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 50px 0px 0px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 5.5);
}

button {
  /* border: 3px solid blue; */
  height: 17px;
}

.plus_sign {
  position: absolute;
  bottom: -6px;
  right: 0%;
}

input {
  /* border: 2px solid orangered; */
  padding: 5px;
  font-size: 1.2rem;

  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 10px;
}

textarea {
  padding: 5px;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1rem;
}

form {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
}

.main_note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 30%;
  margin-left: 35%;
  margin-top: 25px;
  background-color: #fff;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7); */
}

h1 {
  color: #fff;
}

.header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 10px 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 5.5);
}

img {
  height: 70px;
  width: 8%;
}

.footer {
  /* position: fixed; */
  bottom: 0%;
  width: 100%;
  text-align: center;
  padding: 5px;
  height: 30px;
  font-weight: 900;
}
